.glass-nav {
  background: rgba(19, 16, 34, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

/* Admin Dashboard Styles */
:root {
  --primary: #3211d4;
  --background-light: #f6f6f8;
  --background-dark: #0B0B0C;
  --surface-dark: #131022;
  --border-dark: #2b2839;
  --muted-text: #a19db9;
}

.sidebar-active {
  background-color: #2b2839;
  border-left: 3px solid #3211d4;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}