body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #131022;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glass-nav {
  background: rgba(19, 16, 34, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}